<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
	<th:block layout:fragment="content">
		<div class="content3">
		<div><h2>JO! 임직원 인증 하기</h2></div>
		<div><p>임직원가 혜택을 받기 위해서는 회사 이메일을 통해 [임직원 인증 절차]를 거쳐야 합니다.</p></div>
		<div><button id="email_btn" type="button">이메일 인증하기</button></div>
	</div>
	<script type="text/javascript" th:src="@{/js/withdrawal.js}"></script>
	</th:block>
</html>