<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<th:block th:replace="fragments/config::config"></th:bloc>
</head>
	<div class="content1">
		<div id="error_message" th:text="${error_message}"></div>
		<div>
			<h1>중앙 통합 로그인</h1>
		</div>
		<div>
			<img 
			id="jo_logo" 
			th:src="@{/images/joins_logo.png}" 
			alt="jo_logo1!"/>		
		</div>
		<div>
			<a th:href="@{/kakao/oauth}">
				<button type="button" id="login_button">
					<img 
						id="kakao_btn" 
						th:src="@{/images/kakao_logo.png}" 
						alt="kakao_logo"/> 카카오 로그인
				</button>	
			</a>
		</div>
	</div>
</html>