<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>megabox</title>
		<link th:href="@{/css/joongang.css}" rel="stylesheet" />
	</head>
	<body>
		<div id="megabox-ad" th:style="'background-image:url('+ @{/images/megabox_ad.png} +');'"></div>
		<div id="welcome-box">
			<div th:text="${userName}" id="user-name"></div>
			<div id="welcome-message">님 환영합니다.</div>
		</div>
		<div id="megabox" th:style="'background-image:url('+ @{/images/megabox_main.png} +');'"></div>
	</body>
</html>