<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
	<th:block layout:fragment="content">
		<div class="content1">
			<div><h2>회원탈퇴를 하시려면 휴대전화 인증이 필요합니다.</h2></div>
			<div><p>회원님의 개인정보 보호를 위한 절차이오니, JO! 회원 가입시 등록한 휴대전화를 입력해 주세요.</p></div>
			<div><button id="email_btn" type="button">휴대전화 인증</button></div>				
				<div class="authenticate_bg1">
					<div class="authenticate_close1">X</div>
					<div class="authenticate_wrap">
						<div class="authenticate_contents">
							<div><h3>휴대전화 인증</h3></div>
							<div>
								<form id="email_form1">
									<div>
										<input type="tel" class="input_text1" placeholder="Phone number here" required/>
									</div>
									<div style="font-size: 0.7rem">가입시 등록한 휴대전화를 입력해 주세요.</div>
									<div>
										<button class="submit_btn" type="submit">인증번호 전송</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>			
			<div class="authenticate_bg2">
				<div class="authenticate_close2">X</div>
				<div class="authenticate_wrap">
					<div class="authenticate_contents">
						<div><h3>인증번호</h3></div>
						<div>
							<form id="email_form2">
								<div>
									<input type="number" min="1" class="input_text2" placeholder="input number here" required/>
								</div>
								<div><h3 id="timer"></h3></div>
								<div><h3 id="error_message"></h3></div>
								<div>
									<button class="submit_btn" type="submit">확인</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>				
			</div>
		<script type="text/javascript" th:src="@{/js/withdrawal.js}"></script>
	</th:block>
</html>